@model CashReceipts.Models.ReceiptBody

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReceiptBody</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceiptHeaders.ReceiptHeaderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptHeaders.ReceiptHeaderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Templates.Fund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Templates.Fund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReceiptBodyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
