@model IEnumerable<CashReceipts.Models.ReceiptBody>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptHeaders.ReceiptHeaderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Templates.Fund)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptHeaders.ReceiptHeaderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Templates.Fund)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReceiptBodyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReceiptBodyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReceiptBodyID })
        </td>
    </tr>
}

</table>
