@model int
<div id="templates" class="">
    <div class="">
        <div class="title-section">
            <h4>Department Accounts</h4>
            <hr />
        </div>
        <div class="MainDivToScroll MainDiv">
            <div id="SystemRolesLst" class="k-content my-k-content">
                <div id="templateGrid"></div>
                <script>
                    var selectedRows = undefined,
                        currentGrid = null;
                    $(document).ready(function () {

                        templatesDataSources = new kendo.data.DataSource({
                            transport: {
                                read: {
                                    url: '@Url.Action("ProjectTemplates_Read", "Departments")?departmentId=@Model',
                                    dataType: "json"
                                },
                                update: {
                                    url: '@Url.Action("ProjectTemplates_Update", "Departments")?departmentId=@Model',
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    type: "POST"
                                },
                                destroy: {
                                    url: '@Url.Action("ProjectTemplates_Destroy", "Departments")?departmentId=@Model',
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    type: "POST"
                                },
                                create: {
                                    url: '@Url.Action("ProjectTemplates_Create", "Departments")?departmentId=@Model',
                                    dataType: "json",
                                    contentType: "application/json; charset=utf-8",
                                    type: "POST"
                                },
                                parameterMap: function (options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return JSON.stringify({ templates: options.models });
                                    }
                                    //return JSON.stringify(options.models);
                                }
                            },
                            batch: true,
                            pageSize: 20,
                            serverPaging: false,
                            sort: [{ field: "Order", dir: "asc" }],
                            schema: {
                                data: "Data",
                                total: "Total",
                                model: {
                                    id: "TemplateID",
                                    fields: {
                                        TemplateID: { editable: false, nullable: false, defaultValue: 0 },
                                        Fund: {
                                            validation: {
                                                custom1: function (input) {
                                                    if (input.attr("data-bind") == "value:Fund") {
                                                        input.attr("data-custom1-msg", "Fund must be less than or equal to 3");
                                                        return !isBlank(input.val()) && lessThanOrEqual(input.val(), 3);
                                                    } else {
                                                        return true;
                                                    }
                                                }
                                            },
                                            type: "string"
                                        },
                                        Dept: {
                                            validation: {
                                                custom2: function (input) {
                                                    if (input.attr("data-bind") == "value:Dept") {
                                                        input.attr("data-custom2-msg", "Dept must be less than or equal to 3");
                                                        return !isBlank(input.val()) && lessThanOrEqual(input.val(), 3);
                                                    } else {
                                                        return true;
                                                    }
                                                }
                                            },
                                            type: "string"
                                        },
                                        Program: { type: "string", validation: {
                                            custom3: function (input) {
                                                if (input.attr("data-bind") == "value:Program") {
                                                    input.attr("data-custom3-msg", "Program must be less than or equal to 2");
                                                    return !isBlank(input.val()) && lessThanOrEqual(input.val(), 2);
                                                } else {
                                                    return true;
                                                }
                                            }
                                        } },
                                        Project: { type: "string", validation: {
                                            custom4: function (input) {
                                                if (input.attr("data-bind") == "value:Project") {
                                                    input.attr("data-custom4-msg", "Project must be less than or equal to 4");
                                                    return !isBlank(input.val()) && lessThanOrEqual(input.val(), 4);
                                                } else {
                                                    return true;
                                                }
                                            }
                                        } },
                                        BaseElementObjectDetail: { type: "string", validation: {
                                            custom5: function (input) {
                                                if (input.attr("data-bind") == "value:BaseElementObjectDetail") {
                                                    input.attr("data-custom5-msg", "Base/Elem/Obj/Dtl must be less than or equal to 9");
                                                    return !isBlank(input.val()) && lessThanOrEqual(input.val(), 9);
                                                } else {
                                                    return true;
                                                }
                                            }
                                        } },
                                        Description: { type: "string", validation: {
                                            custom6: function (input) {
                                                if (input.attr("data-bind") == "value:Description") {
                                                    input.attr("data-custom6-msg", "Description must be less than or equal to 35");
                                                    return !isBlank(input.val()) && lessThanOrEqual(input.val(), 35);
                                                } else {
                                                    return true;
                                                }
                                            }
                                        }  },
                                        DepartmentID: { type: "number", defaultvalue: @Model },
                                        Order: { type: "number", defaultvalue: 0 },
                                    }
                                },
                                errors: "Errors"
                            },
                            error: function (e) {
                                if (e.errors && e.errors["_addKey"]) {
                                    notify.showError(e.errors["_addKey"].errors[0]);
                                }
                                else if (e.errors && e.errors["_deleteKey"]) {
                                    notify.showError(e.errors["_deleteKey"].errors[0]);
                                }
                                else if (e.errors && e.errors["_updateKey"]) {
                                    notify.showError(e.errors["_updateKey"].errors[0]);
                                }
                                else {
                                    notify.showError('An error has been occurred, please contact system admin.');
                                }
                                this.cancelChanges();
                            }
                        });

                        $("#templateGrid").kendoGrid({
                            dataSource: templatesDataSources,
                            //width: 600,
                            selectable: "row",
                            resizable: true,
                            scrollable: true,
                            sortable: true,
                            filterable: true,
                            groupable: true,
                            reorderable: true,
                            columnMenu: true,
                            pageable: {
                                refresh: true,
                                input: true,
                                numeric: false,
                                pageSizes: [10, 20, 30, 50, 75, 100]
                            },
                            columns: [
                                {
                                    field: "Fund",
                                    title: "Fund",
                                    width: 50
                                },{
                                    field: "Dept",
                                    title: "Dept",
                                    width: 50
                                },
                                {
                                    field: "Program",
                                    title: "Prog",
                                    width: 50
                                },
                                {
                                    field: "Project",
                                    title: "Proj",
                                    editor: autocompleteEditor,
                                    width: 50
                                },
                                {
                                    field: "BaseElementObjectDetail",
                                    title: "Base/Elem/Obj/Dtl",
                                    editor: autocompleteEditor,
                                    width: 90
                                },
                                {
                                    field: "Description",
                                    title: "Description",
                                    editor: autocompleteEditor,
                                    width: 130
                                },
                                {
                                    field: "Order",
                                    title: "Order",
                                    width: 50
                                },
                                { command: ["edit", "destroy"], title: "&nbsp;", width: "90px" }
                            ],
                            editable: "inline",
                            toolbar: ["create",
                                {
                                    text: "", template: "<a class='k-button k-grid-MoveUp'><span class='k-icon icon-arrow-up'></span></a>"
                                }, {
                                    text: "", template: "<a class='k-button k-grid-MoveDown'><span class='k-icon icon-arrow-down'></span></a>"
                                }],
                            dataBound: function (e) {
                                enableDisableActions(false);
                                if (!currentGrid)
                                    currentGrid = $("#templateGrid").data("kendoGrid");
                            },
                            edit: function (e) {
                                //var popupWindow = $(e.container.data('kendoWindow'));
                                //e.container.data('kendoWindow').bind('activate', function (ee) {
                                //    $(popupWindow).attr('element').find('input:first').focus();
                                //});
                            },
                            change: function () {
                                //selectedRows = this.select();
                                enableDisableActions(true);
                            },
                            save: function (e) {
                                var updateButton = $(e.container).find('.k-grid-update');
                                if (!updateButton.hasClass('k-state-disabled')) {
                                    updateButton.addClass('k-state-disabled');
                                }
                                else {
                                    e.preventDefault();
                                }
                            }
                        });
                    });

                    function autocompleteEditor(container, options) {
                        var model = options.model;
                        var parentContainer = container.parent();
                        $('<input data-bind="value:' + options.field + '"/>')
                            .appendTo(container)
                            .kendoAutoComplete({
                                placeholder: "Enter value ...",
                                suggest: true,
                                dataTextField: options.field,
                                filter: "contains",
                                minLength: 3,
                                dataSource: {
                                    type: "json",
                                    serverFiltering: true,
                                    serverPaging: true,
                                    transport: {
                                        read: {
                                            url: '@Url.Action("GetGCAccountDetails", "Departments")',
                                            //type: "POST",
                                            dataType: "json",
                                            data: function(param) {
                                                return param.filter.filters[0];
                                            }
                                        }
                                    }
                                },
                                select: function(e) {
                                    autoCompleteOnSelect(this, parentContainer, options.field, model, e);
                                }
                            });
                    }

                    function autoCompleteOnSelect(that, parentContainer, fieldName, model, e) {
                        var dataItem = that.dataItem(e.item.index());
                        if (fieldName == 'Description') {
                            parentContainer.find('[data-bind="value:Fund"]').val(dataItem.Fund);
                            model.set("Fund", dataItem.Fund);
                            parentContainer.find('[data-bind="value:Dept"]').val(dataItem.Dept);
                            model.set("Dept", dataItem.Dept);
                            parentContainer.find('[data-bind="value:Program"]').val(dataItem.Program);
                            model.set("Program", dataItem.Program);
                            parentContainer.find('[data-bind="value:Project"]').val(dataItem.Project);
                            model.set("Project", dataItem.Project);
                            parentContainer.find('[data-bind="value:BaseElementObjectDetail"]').val(dataItem.BaseElementObjectDetail);
                            model.set("BaseElementObjectDetail", dataItem.BaseElementObjectDetail);
                            //model.set("Description", dataItem.Description);
                        }
                        else if (fieldName == 'Project') {
                            parentContainer.find('[data-bind="value:Project"]').val(dataItem.Project);
                            model.set("Project", dataItem.Project);
                        }
                        else if (fieldName == 'BaseElementObjectDetail') {
                            parentContainer.find('[data-bind="value:BaseElementObjectDetail"]').val(dataItem.BaseElementObjectDetail);
                            model.set("BaseElementObjectDetail", dataItem.BaseElementObjectDetail);
                        }
                    }

                    function isBlank(str) {
                        return (!str || /^\s*$/.test(str));
                    }

                    function lessThanOrEqual(val, charLength) {
                        return val.length <= charLength;
                    }


                    function enableDisableActions(isEnable) {
                        if (!isEnable) {
                            $('.k-grid-MoveUp').addClass("k-state-disabled").unbind("click");
                            $('.k-grid-MoveDown').addClass("k-state-disabled").unbind("click");
                        } else {
                            $(".k-grid-MoveUp").removeClass("k-state-disabled").unbind("click").bind("click", function () {
                                moveRecord(true);
                            });
                            $(".k-grid-MoveDown").removeClass("k-state-disabled").unbind("click").bind("click", function () {
                                moveRecord(false);
                            });
                        }
                    }

                    function getOrders(order, up) {
                        var prevOrders;
                        if (up) prevOrders = $(templatesDataSources.data()).map(function (index, elem) { if (elem.Order < order) return { Index: templatesDataSources.indexOf(elem), Order: elem.Order }; });
                        else prevOrders = $(templatesDataSources.data()).map(function (index, elem) { if (elem.Order > order) return { Index: templatesDataSources.indexOf(elem), Order: elem.Order }; });
                        var newOrder = { Index: 0, Order: order };
                        if (prevOrders.length > 0) {
                            prevOrders.sort(sortRecords);
                            if (up) newOrder = prevOrders.slice(-1)[0];
                            else newOrder = prevOrders[0];
                        }
                        return newOrder;
                    }

                    function sortRecords(a, b) {
                        return a.Order < b.Order ? -1 : (a.Order > b.Order ? 1 : 0);
                    }

                    function moveRecord(up) {
                        var recordUid = currentGrid.tbody.find(".k-state-selected").data('uid');

                        //if there are changes save first & then reorder
                        if (templatesDataSources.hasChanges()) {
                            //templatesDataSources.sync();
                            notify.showError('Please save changes first & then reorder');
                            return;
                        }

                        var currOrder = templatesDataSources.getByUid(recordUid);
                        if (currOrder != null && currOrder != undefined) {
                            var newOrder = getOrders(currOrder.Order, up);
                            if (currOrder.Order != newOrder.Order) {
                                var newOrderElem = templatesDataSources.at(newOrder.Index);
                                debugger;
                                updateRecordOrderAjax(currOrder.TemplateID, newOrderElem.TemplateID);
                                var temp = currOrder.Order;
                                currOrder.Order = newOrder.Order;
                                newOrderElem.Order = temp;
                            }
                            templatesDataSources.sort([{ field: "Order", dir: "asc" }]);
                        }
                        currentGrid.select('tr[data-uid=' + recordUid + ']');
                    }

                    function updateRecordOrderAjax(currOrderId, newOrderid) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ReorderTemplates", "Departments")',
                            data: { currOrderId: currOrderId, newOrderid: newOrderid }
                        }).done(function (data) {
                            if (data.Result != true) {
                                notify.showError("An error has been occurred, please contact system administrator.");
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_HighlightMenu", 2)
