@model IEnumerable<CashReceipts.ViewModels.UsersVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function showResetDialog(userId) {
        var newPassword = prompt("Please enter new password", "");
        if (newPassword) {
            $.post('@Url.Action("ChangePassword", "Account")',
                {
                    UserId: userId,
                    NewPassword: newPassword
                })
                .done(function(data) {
                    if (data && data.OperationResult) {
                        alert('User password has been updated successfully!');
                    } else alert(data.Message);
                })
                .error(function() {
                    alert('An error has been occurred!');
                });
        } else {
            alert('Please provide a valid password');
        }
    }
</script>

<h2>Users</h2>


<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
       @if (@ViewBag.isEdit==true)
        { <th>
            Actions
        </th>}
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            
        </td>
        @if (@ViewBag.isEdit==true)
        { <td>
    @Html.ActionLink("Select Role", "Edit", new { id = item.Id })
    &nbsp;|&nbsp; <a href="javascript:void(0)" onclick="showResetDialog('@item.Id')">Reset Password</a>
</td>}
    </tr>
}

</table>
@Html.Partial("_HighlightMenu", "Permissions")
