<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content="Cash Receipting System">
    <meta name="author" content="Miller Corp.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Cash Receipting</title>
    @Styles.Render("~/Content/allcss")
    @Styles.Render("~/Scripts/KenodUI2017.1.223/styles/Kendo")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">Cash Receipting</a>
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">u<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Users", "Index", "Users")</li>
                                <li>@Html.ActionLink("Permissions", "Index", "Permissions")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Clerks", "Index", "Clerks")</li>
                        <li>@Html.ActionLink("Entity", "Index", "Entities")</li>
                        <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accounts <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("System Accounts", "Index", "Accounts")</li>
                                <li>@Html.ActionLink("Grant County Accounts", "GcAccounts", "Accounts")</li>
                                <li>@Html.ActionLink("Districts Accounts", "DistAccounts", "Accounts")</li>
                                @*<li role="separator" class="divider"></li>*@
                            </ul>
                        </li>
                        <li></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Receipts <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Manage Receipts", "Index", "ReceiptHeaders")</li>
                                <li>@Html.ActionLink("Search Line Items", "Search", "ReceiptHeaders")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Receipts Export", "ReceiptsExport", "SysReports")</li>
                                <li>@Html.ActionLink("Day Summary Report", "SummaryReport", "SysReports")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Audits", "Index", "Audits")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; 2016 - Cash Receipting</p>
        </footer>
    </div>
    <script>
        $(document).ready(function () {
            $.ajaxSetup({ cache: false });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
