@model CashReceipts.Models.ReceiptDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReceiptDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceiptBodys.ReceiptBodyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiptBodys.ReceiptBodyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckWarrant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckWarrant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckWarrantAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckWarrantAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReceiptDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
