@model IEnumerable<CashReceipts.Models.ReceiptDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptBodys.ReceiptBodyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckWarrant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckWarrantAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptBodys.ReceiptBodyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckWarrant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckWarrantAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReceiptDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReceiptDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReceiptDetailID })
        </td>
    </tr>
}

</table>
