@model IEnumerable<CashReceipts.Models.Clerk>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <h4>Clerks</h4>
    @if (ViewBag.isCreate==true)
    {@Html.ActionLink("Create New", "Create")}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            Connected User
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @if (ViewBag.isEdit == true)
            { @Html.ActionLink("Edit", "Edit", new { id=item.ClerkID })} &nbsp;
            @if (ViewBag.isDetails == true)
            {@Html.ActionLink("Details", "Details", new { id = item.ClerkID })} &nbsp;
            @if (ViewBag.isDelete == true)
            {@Html.ActionLink("Delete", "Delete", new { id = item.ClerkID })}
        </td>
    </tr>
}
</table>
@Html.Partial("_HighlightMenu", 1)
