@model int

@{
    var permissions = (Dictionary<string, bool>) ViewBag.Permissions;
    var hasEditReceiptsPermission = permissions["hasEditReceiptsPermission"];
    var hasDeleteReceiptsPermission = permissions["hasDeleteReceiptsPermission"];
    var hasCreateReceiptItemsPermission = permissions["hasCreateReceiptItemsPermission"];
    var hasAddTenderItemsPermission = permissions["hasAddTenderItemsPermission"];
    var hasEditTenderItemsPermission = permissions["hasEditTenderItemsPermission"];
    var hasDeleteTenderItemsPermission = permissions["hasDeleteTenderItemsPermission"];
    var hasEditReceiptsBodyPermission = permissions["hasEditReceiptsBodyPermission"];
    var hasCreateReceiptsBodyPermission = permissions["hasCreateReceiptsBodyPermission"];
    var hasDeleteReceiptsBodyPermission = permissions["hasDeleteReceiptsBodyPermission"];
    var hasDownloadReceiptPermission = permissions["hasDownloadReceiptPermission"];
    var hasPostPermission = permissions["hasPostPermission"];
    var hasLockPermission = permissions["hasLockPermission"];
    var hasPrintReceiptPermission = permissions["hasPrintReceiptPermission"];
}

<style type="text/css">
    .k-widget.k-window .k-edit-form-container input.k-textbox {
        width: 407px !important;
    }

    .k-animation-container {
        width: 400px !important;
    }

        .k-animation-container .k-list-container {
            width: 400px !important;
        }

    .k-edit-form-container .k-dropdown-wrap.k-state-default {
        width: 380px !important;
    }

    .k-widget.k-window .k-widget.k-numerictextbox {
        width: 407px !important;
    }

    .k-widget.k-window .k-edit-form-container {
        position: relative;
        width: 630px;
    }

    /*.receiptsBodyGrid .k-grid-content tbody tr td:first-child {
        text-align: right;
    }*/
    .k-edit-form-container .k-edit-field {
        margin-right: 10.5%;
    }

    .k-numerictextbox.k-input {
        float: right;
        width: 56% !important;
        margin-right: 6%;
    }

    .k-edit-form-container .editor-label, .k-edit-label {
        float: left;
        clear: both;
        width: 20%;
        padding: .4em 0 1em;
        margin-left: 2%;
        text-align: right;
    }

    .btn-destroy span {
        display: inline-block;
        width: 16px;
        height: 16px;
        overflow: hidden;
        background-repeat: no-repeat;
        font-size: 0;
        line-height: 0;
        text-align: center;
        margin-right: 3px;
        margin-right: .3rem;
        margin-left: -3px;
        margin-left: -.3rem;
        vertical-align: middle;
        background-image: url(/Scripts/KenodUI2017.1.223/styles/Bootstrap/sprite.png);
        border-color: transparent;
        background-position: -32px -16px;
    }
</style>

<div id="receipts" class="">
    <div class="">
        <div class="title-section">
            <h4>Receipts</h4>
            <hr />
        </div>
        <div class="MainDivToScroll MainDiv">
            <div class="k-content my-k-content">
                <div id="headersGrid"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="template">
    <div class="tabstrip">
        <ul>
            <li class="k-state-active">
                Receipt Body
            </li>
            <li>
                Tenders
            </li>
        </ul>
        <div>
            <div class="receiptsBodyGrid"></div>
        </div>
        <div>
            <div class="tendersGrid"></div>
        </div>
    </div>
</script>

<script id="receiptBodyEditTemplate" type="text/x-kendo-template">
    <div class="k-edit-form-container">
        <div class="k-edit-label"><label for="LineTotal">Line Total</label></div>
        <input type="text" name="LineTotal" required="required" data-type="number" data-bind="value:LineTotal"
               data-role="numerictextbox" role="spinbutton" class="k-input k-total" aria-disabled="false" aria-readonly="false">

        <div class="k-edit-label"><label for="DepartmentID">Department</label></div>
        <input name="DepartmentID"
               data-value-field="DepartmentID"
               data-text-field="Description"
               data-source="departmentDataSource"
               data-role="dropdownlist"
               data-type="number" style="float: right;clear: right;width: 60%;margin-right: 10.5%;padding: 0 0 .6em;" />

        <div class="k-edit-label"><label for="TemplateID">Template</label></div>
        <input name="TemplateID"
               data-bind="value:TemplateID"
               data-value-field="TemplateID"
               data-text-field="Description"
               data-source="templatesDataSource"
               data-role="dropdownlist"
               data-type="number" style="float: right;clear: right;width: 60%;margin-right: 10.5%;padding: 0 0 .6em;" />

    </div>
</script>

<div id="deleteReceiptHeaderWnd">
    <table width="90%">
        <tr>
            <td>
                <div class="col-md-12" style="padding-left: 0">
                    <input type="hidden" value="" id="deletedreceiptheaderid"/>
                    <label>Please enter deletion reason *</label>
                    <textarea id="deletereason" type="text" cols="12" rows="6" style="min-width: 350px;" class="form-control input-sm" required></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;padding-top: 5px">
                <button type="submit" class="btn btn-primary" onclick="confirmReceiptHeaderDelete(this)"><i class="fa fa-close"></i> Confirm Delete</button>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var templatesReadUrl = '@Url.Action("Templates_Read", "ReceiptHeaders")?departmentId=',
        clerkListUrl = '@Url.Action("GetClerksList", "ReceiptHeaders")',
        deptListUrl = '@Url.Action("GetDepartmentsList", "ReceiptHeaders")',
        deptReadUrl = '@Url.Action("Departments_Read", "ReceiptHeaders")',
        receiptHeaderReadUrl = '@Url.Action("ReceiptHeaders_Read", "ReceiptHeaders")',
        receiptHeaderUpdateUrl = '@Url.Action("ReceiptHeaders_Update", "ReceiptHeaders")',
        receiptHeaderDestroyUrl = '@Url.Action("ReceiptHeaders_Destroy", "ReceiptHeaders")',
        receiptHeaderCreateUrl = '@Url.Action("ReceiptHeaders_Create", "ReceiptHeaders")',
        receiptHeaderDeleteUrl = '@Url.Action("ReceiptHeaders_Delete")',
        checkReciptHeaderTotalsUrl = '@Url.Action("CheckReciptHeaderTotals")?receiptHeaderId=',
        lockReceiptUrl = '@Url.Action("LockReceipt")?receiptHeaderId=',
        templatesListUrl = '@Url.Action("GetTemplatesList", "ReceiptHeaders")',
        paymentMethodsUrl = '@Url.Action("GetPaymentMethods", "ReceiptHeaders")',
        tendersReadUrl = '@Url.Action("ReceiptsTenders_Read", "ReceiptHeaders")',
        tendersUpdateUrl = '@Url.Action("ReceiptsTenders_Update", "ReceiptHeaders")',
        tendersDestroyUrl = '@Url.Action("ReceiptsTenders_Destroy", "ReceiptHeaders")',
        tendersCreateUrl = '@Url.Action("ReceiptsTenders_Create", "ReceiptHeaders")',
        bodyReadUrl = '@Url.Action("ReceiptsBody_Read", "ReceiptHeaders")',
        bodyUpdateUrl = '@Url.Action("ReceiptsBody_Update", "ReceiptHeaders")',
        bodyDestroyUrl = '@Url.Action("ReceiptsBody_Destroy", "ReceiptHeaders")',
        bodyCreateUrl = '@Url.Action("ReceiptsBody_Create", "ReceiptHeaders")',
        gcAccountsDetailsUrl = '@Url.Action("GetGCAccountDetails", "Departments")',
        userClerkId = '@(ViewBag.UserClerkId)',
        isAdmin = @Helpers.ClientBool((bool)ViewBag.IsAdmin),
        hasLockPermission = @Helpers.ClientBool(hasLockPermission),
        hasEditReceiptsPermission = @Helpers.ClientBool(hasEditReceiptsPermission),
        hasDeleteTenderItemsPermission = @Helpers.ClientBool(hasDeleteTenderItemsPermission),
        hasDeleteReceiptsBodyPermission = @Helpers.ClientBool(hasDeleteReceiptsBodyPermission),
        hasCreateReceiptsBodyPermission = @Helpers.ClientBool(hasCreateReceiptsBodyPermission),
        hasEditReceiptsBodyPermission = @Helpers.ClientBool(hasEditReceiptsBodyPermission),
        hasAddTenderItemsPermission = @Helpers.ClientBool(hasAddTenderItemsPermission),
        hasEditTenderItemsPermission = @Helpers.ClientBool(hasEditTenderItemsPermission),
        hasCreateReceiptItemsPermission = @Helpers.ClientBool(hasCreateReceiptItemsPermission),
        hasPostPermission = @Helpers.ClientBool(hasPostPermission);
</script>
@if(hasDownloadReceiptPermission)
{ 
    using (Html.BeginForm("DownloadReceipt", "ReceiptHeaders", FormMethod.Post, new { id = "exportReceiptPDF" }))
    {
        <input type="hidden" id="receiptHeaderId" name="receiptHeaderId" />
    }
}