@model IEnumerable<CashReceipts.Models.ReceiptHeader>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <h4>Receipts</h4>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Clerks Name
        </th>
        <th>
            Receipt #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiptTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clerks.LastName), @Html.DisplayFor(modelItem => item.Clerks.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptHeaderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiptDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ReceiptTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReceiptHeaderID }) |  
            @Html.ActionLink("Details", "Details", new { id=item.ReceiptHeaderID }) | 
            @Html.ActionLink("Delete", "Delete", new { id=item.ReceiptHeaderID })
        </td>
    </tr>
}

</table>
